<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 주소 확인하기-->
<mapper namespace="com.app.mybatis.mapper.PostMapper">
     <!--게시글 추가-->
    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, MEMBER_ID)
        VALUES (SEQ_MEMBER.NEXTVAL, #{postTitle}, #{postContent}, #{memberId})
    </insert>
    <!--게시글 전체조회-->
    <select id="selectAll" resultType="PostDTO">
        SELECT
            TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.MEMBER_ID, TBP.POST_READ_COUNT,
            TBM.MEMBER_EMAIL, TBM.MEMBER_NAME
        FROM TBL_POST TBP
        JOIN TBL_MEMBER TBM
        ON TBP.MEMBER_ID = TBM.ID
    </select>
    <!--게시글 단일조회-->
    <select id="select" parameterType="Long" resultType="PostDTO">
        SELECT
            TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.MEMBER_ID, TBP.POST_READ_COUNT,
            TBM.MEMBER_EMAIL, TBM.MEMBER_NAME
        FROM TBL_POST TBP
        JOIN TBL_MEMBER TBM
        ON TBP.MEMBER_ID = TBM.ID
        WHERE TBP.ID = #{id}
    </select>
    <!--최신순 조회-->
    <select id="selectByDesc" resultType="PostVO">
        SELECT ID, POST_TITLE, POST_CONTENT, MEMBER_ID, POST_READ_COUNT
        FROM TBL_POST
        ORDER BY ID DESC
    </select>
    <!--조회수 증가-->
    <update id="updatePostReadCount" parameterType="Long">
        UPDATE TBL_POST
        SET POST_READ_COUNT = POST_READ_COUNT + 1
        WHERE ID = #{id}
    </update>
    <!--게시글 수정-->

    <!--게시글 삭제-->


</mapper>